@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 0px; /* increase width if we wanna show scrollbar....uske bina aacha hai */
}

/* Track (background area) */
::-webkit-scrollbar-track {
  background: #f2f2f2;   /* light grey */
  border-radius: 999px;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: #e2e2e2;   /* slightly darker grey */
  border-radius: 999px;
  border: 2px solid #f2f2f2; /* creates inner spacing effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
